[package]
authors = ["owent <admin@owent.net>"]
categories = ["network-programming", "web-programming::http-server", "web-programming::http-client", "development-tools"]
description = "Robot service for WXWork"
documentation = "https://github.com/owt5008137/wxwork_robotd"
edition = "2018"
homepage = "https://crates.io/crates/wxwork_robotd"
include = ["src/**/*.rs", "Cargo.toml", "Cross.toml", "README.md", "tools/__init__.py", "tools/qyapi_wx_send_robot.py"]
keywords = ["wxwork", "wework", "robot", "weixin", "wechat"]
license = "MIT OR Apache-2.0"
name = "wxwork_robotd"
readme = "README.md"
repository = "https://github.com/owt5008137/wxwork_robotd"
version = "0.8.0"
[[bin]]
name = "wxwork_robotd"

[build-dependencies]
[build-dependencies.clap]
default-features = false
features = ["suggestions", "color"]
version = "^2.33.0"

[dependencies]
actix-rt = "^1.1.1"
byteorder = "^1.3.2"
bytes = ">=0.5.0"
chrono = ">=0.4.11"
futures = "^0.3.5"
handlebars = "^3.1.0"
hex = ">=0.3.2"
lazy_static = "^1.2.0"
log = ">=0.4.3"
mio-uds = "^0.6.7"
ring = ">=0.16.0"
rustls = ">=0.17.0"
quick-xml = ">=0.13.1"
regex = "^1.3.9"
serde = "^1.0.80"
serde_derive = "^1.0.80"
serde_json = "^1.0.33"
block-modes = ">=0.4.0"
aes = ">=0.4.0"
md-5 = ">=0.9.0"
block-cipher = ">=0.7.1"
# https://github.com/RustCrypto

[dependencies.actix-web]
features = ["compress", "rustls"]
version = "^3.0.0-alpha.3"

[dependencies.clap]
default-features = false
features = ["suggestions", "color"]
version = "^2.33.0"

[dependencies.tokio]
features = ["process", "io-std", "io-driver"]
version = ">=0.2.0"

[features]
system-alloc = []

[profile]
[profile.dev]
codegen-units = 4
debug = true
debug-assertions = true
incremental = false
lto = false
panic = "abort"
rpath = false

[profile.release]
codegen-units = 1
debug = false
debug-assertions = false
incremental = false
lto = true
opt-level = "z"
panic = "abort"
rpath = false
